Noderedprogram_0.4.json
[{"id":"ca15fc8d.3a66d","type":"tab","label":"VandFlow","disabled":false,"info":""},{"id":"5fa260a8.0e07f","type":"tab","label":"Kipper","disabled":false,"info":""},{"id":"342ad3d5.7171bc","type":"tab","label":"Mad","disabled":false,"info":""},{"id":"f36c9458.c815b8","type":"tab","label":"Fan","disabled":false,"info":""},{"id":"81558a7d.62e358","type":"tab","label":"Spole 1","disabled":false,"info":""},{"id":"7bdcab91.32a994","type":"tab","label":"Spole 2","disabled":false,"info":""},{"id":"24a7d685.09059a","type":"tab","label":"Data fra Ubidots","disabled":false,"info":""},{"id":"d0365077.de35a","type":"tab","label":"Spole 3","disabled":false,"info":""},{"id":"6a913e1e.3ef36","type":"tab","label":"Spole 4","disabled":false,"info":""},{"id":"d995a1b2.e94d8","type":"tab","label":"Spole 5","disabled":false,"info":""},{"id":"7894e51d.9442bc","type":"tab","label":"Spole 6","disabled":false,"info":""},{"id":"68069228.98daec","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"69a609e3.39ee98","type":"subflow","name":"Subflow spole 1","info":"","category":"","in":[],"out":[],"env":[],"meta":{},"color":"#DDAA99"},{"id":"b6e4efa5.adff8","type":"subflow","name":"Subflow 4","info":"","in":[{"x":60,"y":80,"wires":[{"id":"d3ad02c2.28731"}]}],"out":[{"x":340,"y":80,"wires":[{"id":"d3ad02c2.28731","port":0}]}]},{"id":"91bd3f80.2b605","type":"subflow","name":"Subflow 5","info":"","in":[{"x":60,"y":80,"wires":[{"id":"24f0b52.e05ab4a"}]}],"out":[{"x":320,"y":80,"wires":[{"id":"24f0b52.e05ab4a","port":0}]}]},{"id":"6aecbb6d.cd5444","type":"subflow","name":"Subflow 6","info":"","in":[{"x":60,"y":100,"wires":[{"id":"8c7ace01.c356"}]}],"out":[]},{"id":"5c17907f.93c44","type":"subflow","name":"Subflow 7","info":"","in":[{"x":60,"y":80,"wires":[{"id":"34cbc085.ccf7"}]}],"out":[{"x":320,"y":80,"wires":[{"id":"34cbc085.ccf7","port":0}]}]},{"id":"203b98a4.a13d18","type":"subflow","name":"Subflow 8","info":"","in":[{"x":60,"y":80,"wires":[{"id":"fe059e58.43e96"}]}],"out":[{"x":340,"y":80,"wires":[{"id":"fe059e58.43e96","port":0}]}]},{"id":"e7a886b4.20d5b8","type":"subflow","name":"Subflow 9","info":"","in":[{"x":60,"y":80,"wires":[{"id":"379a3ab.695b0c6"}]}],"out":[]},{"id":"f84d123a.5547d","type":"subflow","name":"Subflow 10","info":"","in":[{"x":60,"y":80,"wires":[{"id":"d268f53c.e08b98"}]}],"out":[]},{"id":"ba10c508.c00458","type":"subflow","name":"Subflow 11","info":"","in":[{"x":60,"y":80,"wires":[{"id":"24fdbfdd.420af"}]}],"out":[{"x":340,"y":80,"wires":[{"id":"24fdbfdd.420af","port":0}]}]},{"id":"18b293ae.fd439c","type":"subflow","name":"Subflow 12","info":"","in":[{"x":60,"y":80,"wires":[{"id":"97aef49b.15c1d8"}]}],"out":[{"x":340,"y":80,"wires":[{"id":"97aef49b.15c1d8","port":0}]}]},{"id":"3ae53dd8.1504b2","type":"subflow","name":"Subflow 13","info":"","in":[{"x":60,"y":80,"wires":[{"id":"4661299f.d8f1c8"}]}],"out":[]},{"id":"3b1f4207.d4668e","type":"subflow","name":"Subflow 14","info":"","in":[{"x":60,"y":80,"wires":[{"id":"33d5aed.1990752"}]}],"out":[]},{"id":"8fc5d079.ed416","type":"ui_group","name":"TB+JP","tab":"a0745bc7.9b1808","order":1,"disp":true,"width":"4","collapse":false,"className":""},{"id":"a0745bc7.9b1808","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"875888f.9a08478","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"fe0a7114.e3f5c","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"node-red-temp","tz":"","charset":"UTF8"},{"id":"93afd4b6.20df68","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"Kipper","tz":"","charset":"UTF8"},{"id":"5dfdda8d.658e94","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"Vandflow","tz":"","charset":"UTF8"},{"id":"f8c62ab4.1feb38","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"madtemperature","tz":"","charset":"UTF8"},{"id":"86f09164.e7397","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"Fan","tz":"","charset":"UTF8"},{"id":"ce6e41c8.cc14b","type":"ui_group","name":"Default","tab":"55d65684.88fa78","order":1,"disp":true,"width":"6"},{"id":"55d65684.88fa78","type":"ui_tab","name":"Home","icon":"dashboard"},{"id":"363106f5.f810da","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"Spoler","tz":"","charset":"UTF8"},{"id":"d920164f.0b4ae8","type":"fred-client","endpoint":"7e5e176a0e10b825c19a06dbf8cb9e36","private":true,"username":"tofubrain","wholemsg":"false"},{"id":"2bdd1e21.160fb2","type":"AnamicoAlarmPanel","name":"Udskift"},{"id":"264cb6c8.bb8a5a","type":"inject","z":"5fa260a8.0e07f","name":"Kippe","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":90,"y":200,"wires":[["7aa80d7c.119f94"]]},{"id":"7e493149.c6844","type":"mysql","z":"5fa260a8.0e07f","mydb":"93afd4b6.20df68","name":"Database","x":780,"y":240,"wires":[["fc1ff100.1a6c5"]]},{"id":"f9ca6534.484988","type":"inject","z":"342ad3d5.7171bc","name":"","props":[{"p":"payload"}],"repeat":"7","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":140,"wires":[[]]},{"id":"dbd368d2.470ec8","type":"function","z":"342ad3d5.7171bc","name":"","func":"\nmsg.temp = msg.payload.replace(\"temp=\", \"\").replace(\"'C\\n\", \"\")\nmsg.topic= \"INSERT INTO celsius(madvarm) VALUES( \" + msg.temp + \" );\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":180,"wires":[["b25e39e9.cbf4f8","75d7cd3a.ee8794"]]},{"id":"3336fe23.2c8ef2","type":"exec","z":"342ad3d5.7171bc","command":"vcgencmd","addpay":"payload","append":"measure_temp","useSpawn":"false","timer":"","oldrc":false,"name":"","x":270,"y":180,"wires":[["dbd368d2.470ec8","23a43c35.d8c3d4","5c33b1bf.17c3e","15d254ee.dd262b"],[],[]]},{"id":"b25e39e9.cbf4f8","type":"debug","z":"342ad3d5.7171bc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":240,"wires":[]},{"id":"466ba86e.e88b68","type":"mysql","z":"f36c9458.c815b8","mydb":"86f09164.e7397","name":"Database","x":720,"y":300,"wires":[[]]},{"id":"359b0386.27bc0c","type":"function","z":"ca15fc8d.3a66d","name":"","func":"var max = 100;\nvar min = 0;\nvar x = 1;\nvar step = 1;\n\nsetInterval(function() {\n    if(flow.get(\"run\") === false) {\n        return null;\n    }\n node.warn(x);\n  x += step;\n  \n  if (x ===max || x===min ) {\n    step=-step;\n  }\nmsg.topic = \"vandflow\"\nmsg.payload = x;\nnode.send(msg);\n}, 1000);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":240,"wires":[["bf60a967.57ea68","23615ac3.97fd06"]]},{"id":"79cdb381.73254c","type":"inject","z":"ca15fc8d.3a66d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"01","topic":"","payload":"true","payloadType":"bool","x":90,"y":220,"wires":[["76f474ea.d67d6c"]]},{"id":"7a1f7e6d.19b13","type":"inject","z":"ca15fc8d.3a66d","name":"","props":[{"p":"payload","v":"false","vt":"bool"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":90,"y":280,"wires":[["76f474ea.d67d6c"]]},{"id":"76f474ea.d67d6c","type":"change","z":"ca15fc8d.3a66d","name":"","rules":[{"t":"set","p":"run","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":240,"wires":[["359b0386.27bc0c"]]},{"id":"bf60a967.57ea68","type":"ui_gauge","z":"ca15fc8d.3a66d","name":"","group":"ce6e41c8.cc14b","order":1,"width":0,"height":0,"gtype":"wave","title":"Gryde","label":"liter","format":"{{value}}","min":0,"max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":630,"y":240,"wires":[],"inputLabels":["5"]},{"id":"8143abc3.9c6ae8","type":"inject","z":"5fa260a8.0e07f","name":"reset","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":90,"y":260,"wires":[["7aa80d7c.119f94"]]},{"id":"7aa80d7c.119f94","type":"function","z":"5fa260a8.0e07f","name":"","func":"// Difinere variablen og gemmer værdien for flow\n// Hvis der er gemt værdig, så er værdigen 0\nvar counter = flow.get(\"counter\") || 0\n\n// Lægger 1 til tæller værdigen\ncounter ++\n\n//Gemmer tællerværdien i flow variablen\nflow.set(\"counter\", counter)\n\n// set msg.payload til tæller værdig\nmsg.topic = (\"Kipper\")\nmsg.payload = counter\n\n// retunere bedskeden\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":220,"wires":[["c4e1cc53.79b23","ca68eb6f.0a26c8","fb3d6a1e.abcac8","6f204b11.6cda04"]]},{"id":"c4e1cc53.79b23","type":"debug","z":"5fa260a8.0e07f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":270,"y":140,"wires":[]},{"id":"48ef5a2f.a89734","type":"inject","z":"342ad3d5.7171bc","name":"","props":[{"p":"payload","v":"false","vt":"bool"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":90,"y":200,"wires":[["3336fe23.2c8ef2"]]},{"id":"1837d359.a2626d","type":"debug","z":"ca15fc8d.3a66d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1110,"y":400,"wires":[]},{"id":"eb33aa15.9c8518","type":"inject","z":"f36c9458.c815b8","name":"Run","props":[{"p":"payload","v":"run","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"run","payloadType":"str","x":90,"y":80,"wires":[["8d16e77f.480b3"]]},{"id":"589fdea6.104618","type":"inject","z":"f36c9458.c815b8","name":"Stop","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"stop","payloadType":"str","x":90,"y":120,"wires":[["8d16e77f.480b3"]]},{"id":"e56cbc00.56df5","type":"inject","z":"f36c9458.c815b8","name":"Reset","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"reset","payloadType":"str","x":90,"y":40,"wires":[["8d16e77f.480b3"]]},{"id":"8d16e77f.480b3","type":"function","z":"f36c9458.c815b8","name":"","func":"if (msg.payload == \"reset\") {\n    flow.set(\"counter\",0);\n}\n\nflow.set(\"status\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":80,"wires":[[]]},{"id":"fa23b6c6.f3b2a8","type":"function","z":"f36c9458.c815b8","name":"","func":"var status = flow.get(\"status\")  || \"stop\";\nvar count  = flow.get(\"counter\") || 0;\n\nif (status == \"run\"){\n    count = count + 1;\n    flow.set(\"counter\",count);\n    msg.topic = \"fanlevetid\"\n    msg.payload = count;\n    return msg;\n}\nelse (status == \"stop\");\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":300,"wires":[["d548edbb.889458","6bccec3.4701814","ef03518.da01ab","82523893.46a718"]]},{"id":"d548edbb.889458","type":"debug","z":"f36c9458.c815b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":420,"wires":[]},{"id":"8f2c92c5.7b4c18","type":"inject","z":"f36c9458.c815b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"1","payloadType":"num","x":90,"y":300,"wires":[["fa23b6c6.f3b2a8"]]},{"id":"b8228c29.cf374","type":"function","z":"ca15fc8d.3a66d","name":"","func":"\n//msg.temp = msg.payload.replace(\"Liter=\", \"\").replace(\"'C\\n\", \"\")\nmsg.topic= \"INSERT INTO Liter(tank) VALUES( \"+msg.payload + \" );\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":400,"wires":[["279159a4.ea98b6"]]},{"id":"279159a4.ea98b6","type":"mysql","z":"ca15fc8d.3a66d","mydb":"5dfdda8d.658e94","name":"Database","x":940,"y":400,"wires":[["1837d359.a2626d"]]},{"id":"ca68eb6f.0a26c8","type":"ui_chart","z":"5fa260a8.0e07f","name":"Kipninger","group":"ce6e41c8.cc14b","order":2,"width":0,"height":0,"label":"Kipninger","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#427ea9","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":260,"y":300,"wires":[[]]},{"id":"b6f32798.d29648","type":"function","z":"5fa260a8.0e07f","name":"","func":"\nmsg.temp = msg.payload.replace(\"Kippertæller=\", \"\").replace(\"'C\\n\", \"\")\nmsg.topic= \"INSERT INTO Kippertæller(Kiptæller) VALUES( \"+msg.temp + \" );\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":240,"wires":[["7e493149.c6844"]]},{"id":"fc1ff100.1a6c5","type":"debug","z":"5fa260a8.0e07f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":240,"wires":[]},{"id":"fb3d6a1e.abcac8","type":"json","z":"5fa260a8.0e07f","name":"","property":"payload","action":"","pretty":false,"x":470,"y":240,"wires":[["b6f32798.d29648"]]},{"id":"2ae738e1.195648","type":"json","z":"ca15fc8d.3a66d","name":"","property":"payload","action":"obj","pretty":false,"x":590,"y":400,"wires":[["b8228c29.cf374"]]},{"id":"bf138c63.55bdd","type":"inject","z":"81558a7d.62e358","name":"","props":[{"p":"payload"}],"repeat":"7","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":140,"wires":[[]]},{"id":"5e8df12b.b8729","type":"exec","z":"81558a7d.62e358","command":"vcgencmd","addpay":"payload","append":"measure_temp","useSpawn":"false","timer":"","oldrc":false,"name":"","x":270,"y":220,"wires":[["e287b50d.a9ddb8"],[],[]]},{"id":"8a051f66.fbb0e","type":"inject","z":"81558a7d.62e358","name":"","props":[{"p":"payload","v":"false","vt":"bool"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":110,"y":280,"wires":[["5e8df12b.b8729"]]},{"id":"75d7cd3a.ee8794","type":"mysql","z":"342ad3d5.7171bc","mydb":"f8c62ab4.1feb38","name":"Database","x":660,"y":180,"wires":[[]]},{"id":"caa61b5b.4a3238","type":"function","z":"f36c9458.c815b8","name":"","func":"\nmsg.temp = msg.payload.replace(\"Optæller=\", \"\").replace(\"'C\\n\", \"\")\nmsg.topic= \"INSERT INTO Optæller(Tæller) VALUES( \"+msg.temp + \" );\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":300,"wires":[["466ba86e.e88b68"]]},{"id":"6bccec3.4701814","type":"json","z":"f36c9458.c815b8","name":"","property":"payload","action":"","pretty":false,"x":410,"y":300,"wires":[["caa61b5b.4a3238"]]},{"id":"23a43c35.d8c3d4","type":"debug","z":"342ad3d5.7171bc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":380,"wires":[]},{"id":"34cbc085.ccf7","type":"function","z":"5c17907f.93c44","name":"spole2","func":"\nmsg.temp = msg.payload.replace(\"temp=\", \"\").replace(\"'C\\n\", \"\")\nmsg.topic= \"INSERT INTO Spoletemp(Spole2) VALUES( \"+msg.temp + \" );\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":190,"y":80,"wires":[["fa81136f.d01d5"]]},{"id":"fe059e58.43e96","type":"function","z":"203b98a4.a13d18","name":"","func":"\nmsg.temp = msg.payload.replace(\"temp=\", \"\").replace(\"'C\\n\", \"\")\nmsg.topic= \"INSERT INTO Spoletemp(Spole3) VALUES( \"+msg.temp + \" );\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":80,"wires":[["77ec169f.3d8cd8"]]},{"id":"24fdbfdd.420af","type":"function","z":"ba10c508.c00458","name":"","func":"\nmsg.temp = msg.payload.replace(\"temp=\", \"\").replace(\"'C\\n\", \"\")\nmsg.topic= \"INSERT INTO Spoletemp(Spole4) VALUES( \"+msg.temp + \" );\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":80,"wires":[["67e82d94.af9f64"]]},{"id":"97aef49b.15c1d8","type":"function","z":"18b293ae.fd439c","name":"","func":"\nmsg.temp = msg.payload.replace(\"temp=\", \"\").replace(\"'C\\n\", \"\")\nmsg.topic= \"INSERT INTO Spoletemp(Spole5) VALUES( \"+msg.temp + \" );\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":80,"wires":[["bb579841.1bea48"]]},{"id":"d3ad02c2.28731","type":"function","z":"b6e4efa5.adff8","name":"","func":"\nmsg.temp = msg.payload.replace(\"temp=\", \"\").replace(\"'C\\n\", \"\")\nmsg.topic= \"INSERT INTO Spoletemp(Spole6) VALUES( \"+msg.temp + \" );\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":80,"wires":[["8ba4d8a6.f580a8"]]},{"id":"31e57f45.2da18","type":"ui_gauge","z":"342ad3d5.7171bc","name":"Madtemperatur","group":"ce6e41c8.cc14b","order":0,"width":0,"height":0,"gtype":"gage","title":"Madtemperatur","label":"units","format":"{{value}}","min":0,"max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":580,"y":320,"wires":[]},{"id":"5c33b1bf.17c3e","type":"split","z":"342ad3d5.7171bc","name":"","splt":"temp=","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":430,"y":320,"wires":[["31e57f45.2da18"]]},{"id":"e58d6c9a.4e554","type":"ui_gauge","z":"5c17907f.93c44","name":"Spoletemperatur 2","group":"ce6e41c8.cc14b","order":0,"width":0,"height":0,"gtype":"gage","title":"Spoletemperatur 2","label":"units","format":"{{value}}","min":0,"max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":670,"y":100,"wires":[]},{"id":"fa81136f.d01d5","type":"split","z":"5c17907f.93c44","name":"","splt":"temp=","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":410,"y":100,"wires":[["e58d6c9a.4e554"]]},{"id":"ac66c984.c2bf18","type":"ui_gauge","z":"203b98a4.a13d18","name":"Spoletemperatur 3","group":"ce6e41c8.cc14b","order":0,"width":0,"height":0,"gtype":"gage","title":"Spoletemperatur 3","label":"units","format":"{{value}}","min":0,"max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":630,"y":80,"wires":[]},{"id":"77ec169f.3d8cd8","type":"split","z":"203b98a4.a13d18","name":"","splt":"temp=","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":430,"y":80,"wires":[["ac66c984.c2bf18"]]},{"id":"da0fae03.3029d","type":"ui_gauge","z":"ba10c508.c00458","name":"Spoletemperatur 4","group":"ce6e41c8.cc14b","order":0,"width":0,"height":0,"gtype":"gage","title":"Spoletemperatur 4","label":"units","format":"{{value}}","min":0,"max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":630,"y":80,"wires":[]},{"id":"67e82d94.af9f64","type":"split","z":"ba10c508.c00458","name":"","splt":"temp=","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":430,"y":80,"wires":[["da0fae03.3029d"]]},{"id":"fcd45882.6a3798","type":"ui_gauge","z":"18b293ae.fd439c","name":"Spoletemperatur 5","group":"ce6e41c8.cc14b","order":0,"width":0,"height":0,"gtype":"gage","title":"Spoletemperatur 5","label":"units","format":"{{value}}","min":0,"max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":630,"y":80,"wires":[]},{"id":"bb579841.1bea48","type":"split","z":"18b293ae.fd439c","name":"","splt":"temp=","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":430,"y":80,"wires":[["fcd45882.6a3798"]]},{"id":"63b3be48.fd07","type":"ui_gauge","z":"b6e4efa5.adff8","name":"Spoletemperatur 6","group":"ce6e41c8.cc14b","order":0,"width":0,"height":0,"gtype":"gage","title":"Spoletemperatur 6","label":"units","format":"{{value}}","min":0,"max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":630,"y":80,"wires":[]},{"id":"8ba4d8a6.f580a8","type":"split","z":"b6e4efa5.adff8","name":"","splt":"temp=","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":430,"y":80,"wires":[["63b3be48.fd07"]]},{"id":"ef03518.da01ab","type":"ui_chart","z":"f36c9458.c815b8","name":"Fanlevetid","group":"ce6e41c8.cc14b","order":9,"width":0,"height":0,"label":"Fanlevetid","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":430,"y":360,"wires":[[]]},{"id":"23615ac3.97fd06","type":"function","z":"ca15fc8d.3a66d","name":"function","func":"var label = msg.topic;\nvar value = msg.payload;\n\nmsg.payload = {\n [label]: value\n};\n\nmsg.payload.ubidotsDeviceLabel = \"Machine_1\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":80,"wires":[["4241e451.9e9b6c","4950e538.a7f4ac"]]},{"id":"4950e538.a7f4ac","type":"debug","z":"ca15fc8d.3a66d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":140,"wires":[]},{"id":"4241e451.9e9b6c","type":"ubidots_out","z":"ca15fc8d.3a66d","name":"RaspPiUbi","token":"BBFF-QDykVcZcq6bPQUXkJtWeob74IL9GZr","label_device":"","device_label":"Machine_x","tier":"educational","tls_checkbox":false,"x":770,"y":60,"wires":[]},{"id":"6f204b11.6cda04","type":"function","z":"5fa260a8.0e07f","name":"function","func":"var label = msg.topic;\nvar value = msg.payload;\n\nmsg.payload = {\n [label]: value\n};\n\nmsg.payload.ubidotsDeviceLabel = \"Machine_1\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":40,"wires":[["1c137205.1da91e","e8792f36.abe64"]]},{"id":"1c137205.1da91e","type":"debug","z":"5fa260a8.0e07f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":100,"wires":[]},{"id":"e8792f36.abe64","type":"ubidots_out","z":"5fa260a8.0e07f","name":"RaspPiUbi","token":"BBFF-QDykVcZcq6bPQUXkJtWeob74IL9GZr","label_device":"","device_label":"Machine_x","tier":"educational","tls_checkbox":false,"x":690,"y":40,"wires":[]},{"id":"15d254ee.dd262b","type":"function","z":"342ad3d5.7171bc","name":"function","func":"var value = msg.payload.replace(\"temp=\",\"\");\nvar value = value.replace(\"'C\\n\",\"\")\nvar label = \"Madtemperatur\";\n\nmsg.payload = {\n [label]: value\n};\n\nmsg.topic = label\nmsg.payload.ubidotsDeviceLabel = \"Machine_1\";\n \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":80,"wires":[["896df5d.5dd4308","854f638b.0db9d"]]},{"id":"896df5d.5dd4308","type":"debug","z":"342ad3d5.7171bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":100,"wires":[]},{"id":"82523893.46a718","type":"function","z":"f36c9458.c815b8","name":"function","func":"var label = msg.topic;\nvar value = msg.payload;\n\nmsg.payload = {\n [label]: value\n};\n\nmsg.payload.ubidotsDeviceLabel = \"Machine_1\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":160,"wires":[["8c86b8fa.e3ab18","875fc0e.3a8054"]]},{"id":"8c86b8fa.e3ab18","type":"debug","z":"f36c9458.c815b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":220,"wires":[]},{"id":"875fc0e.3a8054","type":"ubidots_out","z":"f36c9458.c815b8","name":"RaspPiUbi","token":"BBFF-QDykVcZcq6bPQUXkJtWeob74IL9GZr","label_device":"","device_label":"Machine_x","tier":"educational","tls_checkbox":false,"x":590,"y":160,"wires":[]},{"id":"a7bea0eb.9b358","type":"function","z":"24a7d685.09059a","name":"function","func":"const varLabels = [\n    \"vandflow\",\n    \"kipper\",\n    \"madtemperatur\",\n    \"fanlevetid\",\n    \"spole1\",\n    \"spole2\",\n    \"spole3\",\n    \"spole4\",\n    \"spole5\",\n    \"spole6\",\n    ];\n    \nvar payload = msg.payload;\nvar label = Object.keys(payload)[0];\nvar output = [];\nvarLabels.forEach(function (varLabel){\n    if (label == varLabel) {\n        msg.payload = payload[label].value;\n        output.push(msg);\n    } else {\n        output.push(null);\n    }\n});\n\nreturn output;","outputs":10,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":300,"wires":[[],["563aac2d.eb64b4"],[],[],[],[],[],[],[],[]]},{"id":"1a30a1cc.46933e","type":"debug","z":"24a7d685.09059a","name":"vandflow","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":120,"wires":[]},{"id":"563aac2d.eb64b4","type":"debug","z":"24a7d685.09059a","name":"Kipper","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":160,"wires":[]},{"id":"2a5f0a3a.a77b46","type":"debug","z":"24a7d685.09059a","name":"Madtemperatur","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":200,"wires":[]},{"id":"8c7ace01.c356","type":"function","z":"6aecbb6d.cd5444","name":"spole2","func":"var value = msg.payload.replace(\"temp=\",\"\");\nvar value = value.replace(\"'C\\n\",\"\")\nvar label = \"spole2\";\n\nmsg.payload = {\n [label]: value\n};\n\nmsg.topic = label\nmsg.payload.ubidotsDeviceLabel = \"Machine_1\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":190,"y":100,"wires":[["d2dad9b5.619928","80eac5bd.151008"]]},{"id":"d2dad9b5.619928","type":"debug","z":"6aecbb6d.cd5444","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":140,"wires":[]},{"id":"80eac5bd.151008","type":"ubidots_out","z":"6aecbb6d.cd5444","name":"RaspPiUbi","token":"BBFF-QDykVcZcq6bPQUXkJtWeob74IL9GZr","label_device":"","device_label":"Machine_x","tier":"educational","tls_checkbox":false,"x":350,"y":80,"wires":[]},{"id":"24f0b52.e05ab4a","type":"function","z":"91bd3f80.2b605","name":"spole1","func":"\nmsg.temp = msg.payload.replace(\"temp=\", \"\").replace(\"'C\\n\", \"\")\nmsg.topic= \"INSERT INTO Spoletemp(Spole1) VALUES( \"+msg.temp + \" );\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":190,"y":80,"wires":[["a1f1b911.765548"]]},{"id":"a1f1b911.765548","type":"split","z":"91bd3f80.2b605","name":"","splt":"temp=","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":330,"y":80,"wires":[["a683ce0a.d3d7a"]]},{"id":"a683ce0a.d3d7a","type":"ui_gauge","z":"91bd3f80.2b605","name":"Spoletemperatur","group":"ce6e41c8.cc14b","order":0,"width":0,"height":0,"gtype":"gage","title":"Spoletemperatur","label":"units","format":"{{value}}","min":0,"max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":540,"y":80,"wires":[]},{"id":"379a3ab.695b0c6","type":"function","z":"e7a886b4.20d5b8","name":"function","func":"var value = msg.payload.replace(\"temp=\",\"\");\nvar value = value.replace(\"'C\\n\",\"\")\nvar label = \"spole3\";\n\nmsg.payload = {\n [label]: value\n};\n\nmsg.topic = label\nmsg.payload.ubidotsDeviceLabel = \"Machine_1\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":80,"wires":[["eb96ebd.b7daa18","989ffb2b.25c1b8"]]},{"id":"eb96ebd.b7daa18","type":"debug","z":"e7a886b4.20d5b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":120,"wires":[]},{"id":"989ffb2b.25c1b8","type":"ubidots_out","z":"e7a886b4.20d5b8","name":"RaspPiUbi","token":"BBFF-QDykVcZcq6bPQUXkJtWeob74IL9GZr","label_device":"","device_label":"Machine_x","tier":"educational","tls_checkbox":false,"x":370,"y":40,"wires":[]},{"id":"d268f53c.e08b98","type":"function","z":"f84d123a.5547d","name":"function","func":"var value = msg.payload.replace(\"temp=\",\"\");\nvar value = value.replace(\"'C\\n\",\"\")\nvar label = \"spole4\";\n\nmsg.payload = {\n [label]: value\n};\n\nmsg.topic = label\nmsg.payload.ubidotsDeviceLabel = \"Machine_1\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":80,"wires":[["b0f31420.49a9a8","4798564a.bf73b8"]]},{"id":"b0f31420.49a9a8","type":"debug","z":"f84d123a.5547d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":120,"wires":[]},{"id":"4798564a.bf73b8","type":"ubidots_out","z":"f84d123a.5547d","name":"RaspPiUbi","token":"BBFF-QDykVcZcq6bPQUXkJtWeob74IL9GZr","label_device":"","device_label":"Machine_x","tier":"educational","tls_checkbox":false,"x":370,"y":40,"wires":[]},{"id":"4661299f.d8f1c8","type":"function","z":"3ae53dd8.1504b2","name":"function","func":"var value = msg.payload.replace(\"temp=\",\"\");\nvar value = value.replace(\"'C\\n\",\"\")\nvar label = \"spole5\";\n\nmsg.payload = {\n [label]: value\n};\n\nmsg.topic = label\nmsg.payload.ubidotsDeviceLabel = \"Machine_1\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":80,"wires":[["3b0eea7a.4aab56","479ffec2.6baca"]]},{"id":"3b0eea7a.4aab56","type":"debug","z":"3ae53dd8.1504b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":140,"wires":[]},{"id":"479ffec2.6baca","type":"ubidots_out","z":"3ae53dd8.1504b2","name":"RaspPiUbi","token":"BBFF-QDykVcZcq6bPQUXkJtWeob74IL9GZr","label_device":"","device_label":"Machine_x","tier":"educational","tls_checkbox":false,"x":370,"y":80,"wires":[]},{"id":"33d5aed.1990752","type":"function","z":"3b1f4207.d4668e","name":"function","func":"var value = msg.payload.replace(\"temp=\",\"\");\nvar value = value.replace(\"'C\\n\",\"\")\nvar label = \"spole6\";\n\nmsg.payload = {\n [label]: value\n};\n\nmsg.topic = label\nmsg.payload.ubidotsDeviceLabel = \"Machine_1\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":80,"wires":[["615d6938.8cfa38","63041e03.6535c"]]},{"id":"615d6938.8cfa38","type":"debug","z":"3b1f4207.d4668e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":140,"wires":[]},{"id":"63041e03.6535c","type":"ubidots_out","z":"3b1f4207.d4668e","name":"RaspPiUbi","token":"BBFF-QDykVcZcq6bPQUXkJtWeob74IL9GZr","label_device":"","device_label":"Machine_x","tier":"educational","tls_checkbox":false,"x":370,"y":80,"wires":[]},{"id":"fa9bec65.fdb42","type":"debug","z":"24a7d685.09059a","name":"Fanlevetid","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":240,"wires":[]},{"id":"677d1066.3aa74","type":"debug","z":"24a7d685.09059a","name":"Spole 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":280,"wires":[]},{"id":"2dd2760e.180c6a","type":"debug","z":"24a7d685.09059a","name":"Spole 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":320,"wires":[]},{"id":"1a5a63b6.94752c","type":"debug","z":"24a7d685.09059a","name":"Spole 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":360,"wires":[]},{"id":"7e93b7c0.d75778","type":"debug","z":"24a7d685.09059a","name":"Spole 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":400,"wires":[]},{"id":"b9146806.fbe728","type":"debug","z":"24a7d685.09059a","name":"Spole 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":440,"wires":[]},{"id":"556bc23e.f29cbc","type":"debug","z":"24a7d685.09059a","name":"Spole 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":480,"wires":[]},{"id":"854f638b.0db9d","type":"ubidots_out","z":"342ad3d5.7171bc","name":"RaspPiUbi","token":"BBFF-QDykVcZcq6bPQUXkJtWeob74IL9GZr","label_device":"","device_label":"Machine_x","tier":"educational","tls_checkbox":true,"x":570,"y":40,"wires":[]},{"id":"e64424ee.f0a498","type":"function","z":"69a609e3.39ee98","name":"spole2","func":"var value = msg.payload.replace(\"temp=\",\"\");\nvar value = value.replace(\"'C\\n\",\"\")\nvar label = \"spole2\";\n\nmsg.payload = {\n [label]: value\n};\n\nmsg.topic = label\nmsg.payload.ubidotsDeviceLabel = \"Machine_1\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":130,"y":100,"wires":[["f636083a.f00838","4ea0babe.569c14"]]},{"id":"f636083a.f00838","type":"debug","z":"69a609e3.39ee98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":290,"y":140,"wires":[]},{"id":"4ea0babe.569c14","type":"ubidots_out","z":"69a609e3.39ee98","name":"RaspPiUbi","token":"BBFF-QDykVcZcq6bPQUXkJtWeob74IL9GZr","label_device":"","device_label":"Machine_x","tier":"educational","tls_checkbox":false,"x":290,"y":80,"wires":[]},{"id":"e287b50d.a9ddb8","type":"function","z":"81558a7d.62e358","name":"spole1","func":"var value = msg.payload.replace(\"temp=\",\"\");\nvar value = value.replace(\"'C\\n\",\"\")\nvar label = \"spole1\";\n\nmsg.payload = {\n [label]: value\n};\n\nmsg.topic = label\nmsg.payload.ubidotsDeviceLabel = \"Machine_1\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":180,"wires":[["7ea4b36e.0635dc","a5871a73.a31d18"]]},{"id":"7ea4b36e.0635dc","type":"debug","z":"81558a7d.62e358","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":220,"wires":[]},{"id":"a5871a73.a31d18","type":"ubidots_out","z":"81558a7d.62e358","name":"RaspPiUbi","token":"BBFF-QDykVcZcq6bPQUXkJtWeob74IL9GZr","label_device":"","device_label":"Machine_x","tier":"educational","tls_checkbox":false,"x":650,"y":160,"wires":[]},{"id":"cc0ba961.2c61d8","type":"inject","z":"7bdcab91.32a994","name":"","props":[{"p":"payload"}],"repeat":"7","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":180,"wires":[[]]},{"id":"4cb14201.99f37c","type":"exec","z":"7bdcab91.32a994","command":"vcgencmd","addpay":"payload","append":"measure_temp","useSpawn":"false","timer":"","oldrc":false,"name":"","x":330,"y":260,"wires":[["86f77cc3.fd4ac"],[],[]]},{"id":"ab846c56.d20a8","type":"inject","z":"7bdcab91.32a994","name":"","props":[{"p":"payload","v":"false","vt":"bool"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":170,"y":320,"wires":[["4cb14201.99f37c"]]},{"id":"86f77cc3.fd4ac","type":"function","z":"7bdcab91.32a994","name":"spole2","func":"var value = msg.payload.replace(\"temp=\",\"\");\nvar value = value.replace(\"'C\\n\",\"\")\nvar label = \"spole2\";\n\nmsg.payload = {\n [label]: value\n};\n\nmsg.topic = label\nmsg.payload.ubidotsDeviceLabel = \"Machine_1\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":220,"wires":[["71ef4cb9.c6a614","5d733355.797e3c"]]},{"id":"71ef4cb9.c6a614","type":"debug","z":"7bdcab91.32a994","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":260,"wires":[]},{"id":"5d733355.797e3c","type":"ubidots_out","z":"7bdcab91.32a994","name":"RaspPiUbi","token":"BBFF-QDykVcZcq6bPQUXkJtWeob74IL9GZr","label_device":"","device_label":"Machine_x","tier":"educational","tls_checkbox":false,"x":710,"y":200,"wires":[]},{"id":"563990f5.f5b8f","type":"inject","z":"d0365077.de35a","name":"","props":[{"p":"payload"}],"repeat":"7","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":220,"wires":[[]]},{"id":"db4f11a0.30205","type":"exec","z":"d0365077.de35a","command":"vcgencmd","addpay":"payload","append":"measure_temp","useSpawn":"false","timer":"","oldrc":false,"name":"","x":310,"y":300,"wires":[[],[],[]]},{"id":"1d5bdd21.3cda13","type":"inject","z":"d0365077.de35a","name":"","props":[{"p":"payload","v":"false","vt":"bool"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":150,"y":360,"wires":[["db4f11a0.30205"]]},{"id":"dc449a34.c426d8","type":"function","z":"d0365077.de35a","name":"spole3","func":"var value = msg.payload.replace(\"temp=\",\"\");\nvar value = value.replace(\"'C\\n\",\"\")\nvar label = \"spole3\";\n\nmsg.payload = {\n [label]: value\n};\n\nmsg.topic = label\nmsg.payload.ubidotsDeviceLabel = \"Machine_1\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":260,"wires":[["9bd1f0b6.01dc4","7d14e81.803e818"]]},{"id":"9bd1f0b6.01dc4","type":"debug","z":"d0365077.de35a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":300,"wires":[]},{"id":"7d14e81.803e818","type":"ubidots_out","z":"d0365077.de35a","name":"RaspPiUbi","token":"BBFF-QDykVcZcq6bPQUXkJtWeob74IL9GZr","label_device":"","device_label":"Machine_x","tier":"educational","tls_checkbox":false,"x":690,"y":240,"wires":[]},{"id":"29ccb953.9e9a66","type":"inject","z":"6a913e1e.3ef36","name":"","props":[{"p":"payload"}],"repeat":"7","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":220,"wires":[[]]},{"id":"77d1b7b3.51e948","type":"exec","z":"6a913e1e.3ef36","command":"vcgencmd","addpay":"payload","append":"measure_temp","useSpawn":"false","timer":"","oldrc":false,"name":"","x":330,"y":300,"wires":[[],[],[]]},{"id":"bba445cb.b72428","type":"inject","z":"6a913e1e.3ef36","name":"","props":[{"p":"payload","v":"false","vt":"bool"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":170,"y":360,"wires":[["77d1b7b3.51e948"]]},{"id":"ca157e0c.f7bf4","type":"function","z":"6a913e1e.3ef36","name":"spole4","func":"var value = msg.payload.replace(\"temp=\",\"\");\nvar value = value.replace(\"'C\\n\",\"\")\nvar label = \"spole4\";\n\nmsg.payload = {\n [label]: value\n};\n\nmsg.topic = label\nmsg.payload.ubidotsDeviceLabel = \"Machine_1\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":260,"wires":[["9dfb69d8.f6da78","4fbd0a7.26dd6f4"]]},{"id":"9dfb69d8.f6da78","type":"debug","z":"6a913e1e.3ef36","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":300,"wires":[]},{"id":"4fbd0a7.26dd6f4","type":"ubidots_out","z":"6a913e1e.3ef36","name":"RaspPiUbi","token":"BBFF-QDykVcZcq6bPQUXkJtWeob74IL9GZr","label_device":"","device_label":"Machine_x","tier":"educational","tls_checkbox":false,"x":710,"y":240,"wires":[]},{"id":"b861b643.0a25b8","type":"inject","z":"d995a1b2.e94d8","name":"","props":[{"p":"payload"}],"repeat":"7","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":200,"wires":[[]]},{"id":"e97d40ab.e5731","type":"exec","z":"d995a1b2.e94d8","command":"vcgencmd","addpay":"payload","append":"measure_temp","useSpawn":"false","timer":"","oldrc":false,"name":"","x":290,"y":280,"wires":[[],[],[]]},{"id":"1a321a97.435775","type":"inject","z":"d995a1b2.e94d8","name":"","props":[{"p":"payload","v":"false","vt":"bool"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":130,"y":340,"wires":[["e97d40ab.e5731"]]},{"id":"760afb0b.15a624","type":"function","z":"d995a1b2.e94d8","name":"spole5","func":"var value = msg.payload.replace(\"temp=\",\"\");\nvar value = value.replace(\"'C\\n\",\"\")\nvar label = \"spole5\";\n\nmsg.payload = {\n [label]: value\n};\n\nmsg.topic = label\nmsg.payload.ubidotsDeviceLabel = \"Machine_1\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":240,"wires":[["9b54f3ef.3cf3f","20a0079c.dc53d8"]]},{"id":"9b54f3ef.3cf3f","type":"debug","z":"d995a1b2.e94d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":280,"wires":[]},{"id":"20a0079c.dc53d8","type":"ubidots_out","z":"d995a1b2.e94d8","name":"RaspPiUbi","token":"BBFF-QDykVcZcq6bPQUXkJtWeob74IL9GZr","label_device":"","device_label":"Machine_x","tier":"educational","tls_checkbox":false,"x":670,"y":220,"wires":[]},{"id":"28395528.73bfea","type":"inject","z":"7894e51d.9442bc","name":"","props":[{"p":"payload"}],"repeat":"7","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":200,"wires":[[]]},{"id":"d486c7b8.6a9bb8","type":"exec","z":"7894e51d.9442bc","command":"vcgencmd","addpay":"payload","append":"measure_temp","useSpawn":"false","timer":"","oldrc":false,"name":"","x":350,"y":280,"wires":[[],[],[]]},{"id":"a2f8e4bc.eb17a8","type":"inject","z":"7894e51d.9442bc","name":"","props":[{"p":"payload","v":"false","vt":"bool"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":190,"y":340,"wires":[["d486c7b8.6a9bb8"]]},{"id":"d1d7194f.802b98","type":"function","z":"7894e51d.9442bc","name":"spole6","func":"var value = msg.payload.replace(\"temp=\",\"\");\nvar value = value.replace(\"'C\\n\",\"\")\nvar label = \"spole6\";\n\nmsg.payload = {\n [label]: value\n};\n\nmsg.topic = label\nmsg.payload.ubidotsDeviceLabel = \"Machine_1\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":240,"wires":[["4c56ba7f.a6a594","3a4f3d50.635212"]]},{"id":"4c56ba7f.a6a594","type":"debug","z":"7894e51d.9442bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":280,"wires":[]},{"id":"3a4f3d50.635212","type":"ubidots_out","z":"7894e51d.9442bc","name":"RaspPiUbi","token":"BBFF-QDykVcZcq6bPQUXkJtWeob74IL9GZr","label_device":"","device_label":"Machine_x","tier":"educational","tls_checkbox":false,"x":730,"y":220,"wires":[]},{"id":"b7b164f7.a315d8","type":"ubidots_in","z":"24a7d685.09059a","tier":"educational","name":"Ubidots in","token":"BBFF-QDykVcZcq6bPQUXkJtWeob74IL9GZr","device_label":"Machine_1","tls_checkbox_in":false,"custom_topic_checkbox":false,"label_variable_1":"kipper","label_variable_2":"","label_variable_3":"","label_variable_4":"","label_variable_5":"","label_variable_6":"","label_variable_7":"","label_variable_8":"","label_variable_9":"","label_variable_10":"","checkbox_variable_1_last_value":true,"checkbox_variable_2_last_value":true,"checkbox_variable_3_last_value":true,"checkbox_variable_4_last_value":true,"checkbox_variable_5_last_value":true,"checkbox_variable_6_last_value":true,"checkbox_variable_7_last_value":true,"checkbox_variable_8_last_value":true,"checkbox_variable_9_last_value":true,"checkbox_variable_10_last_value":true,"x":270,"y":320,"wires":[["a7bea0eb.9b358"]]}]